.GoogleLogin{
  background: #f7ece1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.GoogleLogin .logo-container{
  width:100%;
  text-align: center;
  border:0px solid red;
  height: 20vh;
}
.GoogleLogin .logo-container img{
  margin-top: 5vh;
  width: 150px;
  height: 150px;
}
.GoogleLogin .login-container{
  margin: auto auto;
  height: 30vh;
  width: 100%;
  text-align: center;
  border: 0px solid blue;
  position: relative;
}
.GoogleLogin .google-login{
  position: absolute;
  height: 63px;
  width: 60%;
  z-index: 5;
  right: +70px;
  top: 0px;
  opacity: 0;
}
.GoogleLogin .google_bth img{
  height: 63px;
}
